@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Black.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Black.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Light.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("../../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Thin.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Thin.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Light.woff") format("woff"),
    url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Medium.woff") format("woff"),
    url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Bold.woff") format("woff"),
    url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Black.woff") format("woff"),
    url("../../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
    url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Thin.woff") format("woff"),
    url("../../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto";
}

/* menu top component  */
@layer components {
  /* common  */
  .heading {
    @apply text-center font-bold font-montserrat py-4 text-3xl;
  }
  .primary-button {
    @apply text-sm font-bold bg-primary px-7 py-2 rounded-md text-white inline-block;
  }

  /* header  */
  .top-menu-li {
    @apply uppercase font-roboto px-2 py-[10px] text-[13px] font-bold;
  }
  .top-menu-li-a {
    @apply border-b border-semi_white hover:text-primary_light_dark hover:border-b hover:border-primary_light_dark;
  }
  .dropdown-menu-li {
    @apply p-4 uppercase text-[13px] border-b border-border_color_two border-opacity-50;
  }
  .main-menu-li {
    @apply font-roboto text-base font-bold flex items-center;
  }
  .main-menu-li-a {
    @apply flex items-center p-2 px-4 gap-1 border-b-4 border-solid duration-500 border-primary hover:border-b-4 hover:border-solid hover:border-primary_dark relative;
  }
  /* header  */

  /* footer  */
  .accordion-body {
    @apply overflow-hidden duration-300 ease-out max-h-0 lg:max-h-full lg:mt-0;
  }
}
